---
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer.astro';
import '@/styles/global.css';
const { pathname } = Astro.url;
import { ClientRouter } from 'astro:transitions';
import '@fontsource/montserrat';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Logo-aeternum.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Aeternum</title>
    <ClientRouter />
  </head>
  <body>
    <div class="min-h-dvh flex flex-col bg-aeternum-dark">
      <Navbar client:load url={pathname} />
      <main class="flex-grow">
        <div class="page-container animate-fade-in">
          <slot />
        </div>
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
  }
</style>
